@media screen and (max-width: 600px) {

    *{
        text-decoration: none;
    }

    body{
        background-image: url("./img/email\ \(2\).png") ;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    header{
        text-align: center;
        margin: 45px;
        font-size: 20px; 
        opacity: 1; 
        animation: aparecer 1s ease-in-out forwards;
    }

    @keyframes aparecer {
        0% {
          opacity: 0;
          transform: translateY(-20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
    main{
        margin: 100px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        
    }
    button{
        width: 80vw;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        border: solid 	#6A5ACD; 
        background-color: 	#6A5ACD;
    }
    button:active{
            background-color: #4c3f9c;
            border: solid#4c3f9c ;
            transform: translateY(1px);
    }

    a{
        
        color: black;
    }
    footer{
        margin-bottom: 40px;
    }

}

